/* -----------------------------SIGN-UP------------------------------ */
.signinsingle{
  color: white;
  
}

.mt{
  margin-top: 10%;
}
#myBtn{
  border:none;
  background:none;
  color:blue;
  transform: translateY(-15px);
}
.dropbtn {
  font-size: 16px;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  transform:translateY(38px);
  box-shadow:  2px 5px 8px #888888;
  border-radius: 15px;
  background-color:white;
  width:100%;
  z-index: 1;
  left:0;
}
.custom-modal{
  display:none;
  position:absolute;
  transform:translateY(47px);
  box-shadow:  2px 5px 8px #888888;
  background-color:white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width:100%;
  z-index:1;
  left:0;
}
.head{
  padding: 5px;
  width:100%;
  background: linear-gradient(#92b2fd, #ad7ffb, #f594b7);

  border-bottom: 1px solid lightgray;
}
.cotnt{
  padding:15px;
}
.foter{
  background-color: white;
  padding:10px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight:700;
}

.dropdown-content a:focus{text-decoration: none; color:black}
.show1{
  border-radius:10px;
  padding:5px;
  background-color:#00BFFF;
  color:white;
  margin-bottom: 10px;
  opacity: 0.9;
}

#later{display:none;}
#more {display: none;}
.inp{
  padding:2px;

}
.rw{
  transform: translateX(-25%);
  left: 15%;

  transform: translateY(-50px);

}
.bor1{
  background-color: navy;
  color:white;
  border:none;
  border-top-right-radius:10px;
  border-bottom-right-radius: 10px;
  font-weight: 800;
}
.navbar-brand1{
  transform: translateX(-50%);
  left: 37%;
  position: absolute;
  transform: translateY(-50%);
}
.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}
.img_change{
  transform: translateX(-50%);
  left: 25%;
  position: absolute;
  transform:translateY(-83%);
}
.Personal_info {
  font-weight: bolder;
  font-size: 20px;
  margin-left: 5%;
}
.butn{
  border:none;
  background:none;
}
.signinbtn {
  border-radius: 40px;
  background: linear-gradient(to right, #77bee1, #c168ef);
  width: 100%;
  height: 40px;
  border: none;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: bolder;
  font-size: 15px;
  margin-bottom: 10px;
}
.signinbtn1 {
  border-radius: 40px;
  background: linear-gradient(to right, #77bee1, #c168ef);
  width: 100%;
  height: 40px;
  border: none;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: bolder;
  font-size: 15px;
  margin-bottom: 10px;
  padding-left: 40%;
  padding-top: 2.5%;
}

.welcome_to_pinpoinx {
  margin-top: 130px;
  margin-bottom: 4%;
  color: white;
  text-align: center;

}
.welcome_to_pinpoinx1{
  margin-top: 130px;
  text-align: center;
  margin-bottom: 4%;
  color: white;
  font-size: 40px;

}
.signin-logo{
  transform:translateX(-50%);
  left:50%;
  position:absolute;

}
.signinsingle1{
  text-align: center;
  color: white;
  font-size: 19px;
  margin-top: -3%;
}
/* ----------------------------------------End--------------------------- */
.list2 li{
  list-style-type: none;
}
.bg-color2{
  background: linear-gradient( #4d2c73,#753786,#b8b7c1);
}
.bg-color{
  /* background:linear-gradient(#FF5F6D,#FFC371); */
  background: linear-gradient(#92b2fd, #ad7ffb, #f594b7);

}
.bt3{
  background:none;
  font-size:25px;
  margin-left:10px;
  border:none;
}
.h {
  transform: translateX(-43%);
  left: 43%;
  position: relative;
}
.navbar {
  border-bottom: 1px solid lightgray;
}
.fa-angle-down {
  color: grey;
}
.text {
  color: black;
}
.text1 {
  color: white;
  font-size: 18px;
  text-align: center;
}
.text5 {
  color: white;
  margin-top: 2%;
}
.text:hover {
  color: black;
}
.box-shadow {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}
.d1 h5 {
  font-size: 14px;
  color: grey;
}
.d2 h4 {
  color: black;
  font-size: 18px;
}
.d2 h5{
  color: black;
  font-size: 15px;
  }
.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 55px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: flex;
  overflow-x: auto;
}
.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 13px;
  color:black;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}
.nav__link:hover {
  text-decoration: none;
}
.nav__link:focus {
  background-color: white;
  color: #009578;
}

.nav__icon {
  font-size: 18px;
}
.photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  
}
.photo1{
  border: 5px solid white ;
  width:110px;
  height:110px;
  border-radius:50%;
  margin-top: 55%; 
}
.box_container {
  width: 500px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  border-radius: 19px;
  background-color: white;
  box-shadow: 0 0 2px rgba(15, 15, 15, 0.28);
  position: relative;
  overflow: hidden;
}
.edit-button{
  margin-left: 19%;
  margin-top: -38px;
  z-index: 0;
  position: absolute;
  background: none;
}
.progress-button {
  position: absolute;
  margin-top: -10px;
  margin-left: 240px;
  margin-right: 0;
  transform: translate(-50%, -50%);
  text-align: center;
}
.download-button {
  width: 150px;
  border-radius: 30px;
  border: 0;
  padding: 15px 15px;
  font-family: 'Sans-serif';
  font-size: 15px;
  font-weight: bold;
  box-sizing: content-box;
  cursor: pointer;
  overflow: hidden;
  transition: width .9s cubic-bezier(0.4, 0.0, 0.2, 1);
  box-shadow: 0px 5px 10px rgba(33, 33, 33, .25), inset 0 5px 10px rgba(33, 33, 33, .25);
}
.loading-text,
.percentage {
  display: block;
  color: violet;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;
  transition: all .6s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.in-progress .percentage {
  opacity: 2;
  top: 155%;
  
}

.in-progress .button-text {
  transform: translateY(-35px);
  opacity: 0;
  
}
.button-text {
  display: inline-block;
  opacity: 1;
  color: violet;
  transition: all .6s cubic-bezier(0.4, 0.0, 0.2, 1);
}
.download-button {
  width: 150px;
  border-radius: 30px;
  border: 0;
  padding: 10px 40px;
  font-family: 'Sans-serif';
  font-size: 13px;
  font-weight: bold;
  box-sizing: content-box;
  cursor: pointer;
  overflow: hidden;
  transition: width .9s cubic-bezier(0.4, 0.0, 0.2, 1);
  box-shadow: 0px 5px 10px rgba(33, 33, 33, .25), inset 0 5px 10px rgba(33, 33, 33, .25);
}

.in-progress .download-button {
  width: 150px;
}
.download-button:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0%;
  background-image: linear-gradient(  #77bee1, #c168ef);
 background-size: 50px 50px;
  border-radius: 25px;
  transition: width .6s cubic-bezier(0.4, 0.0, 0.2, 1);
}
:root {
      --progress: 0%;
}
  
.download-button:after {
      
      width: 50%;
      width: var(--progress);
}


.finished .download-button:after {
  opacity: 0;
}

.text2 {
  font-weight: medium;
  color: grey;
}
#email {
  background:none;
  border: none;
  border-bottom:2px solid #ffffff ;
}
#pwd{
  background:none;
  border: none;
  border-bottom:2px solid #ffffff ;
}
.heading{
  justify-content: center;
}
.vl{
  border-left: 1px solid lightgray;
  height:30px;

}
.reviews{
  width:25px;
  height:25px;
  border-radius:50%;
  color:white;
  background-color: turquoise;
}
.rev{
  padding:8px;
  background:none;
  font-weight: bold;
  border-radius:10px;
}
.rev a:focus{
  text-decoration: none;
}
.reviews1{
  width:25px;
  height:25px;
  border-radius:50%;
  color:white;
  background-color:coral;
}
.reviews2{
  width:25px;
  height:25px;
  border-radius:50%;
  color:white;
  background-color:violet;
}
.pr{
  transform:translateY(-17px)
}

.bunt {
  display: block;
  width: 100%;
  border: none;
  background-image: linear-gradient(270deg,#92b2fd, #ad7ffb, #f594b7);
  color:white;
  padding:10px;
  
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  position:sticky;
  bottom:0;
}
.blck{
  width:75%;
  height:60px;
  padding:5px;
  border:1px solid lightgray;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.bty{
  border-radius: 50px ;
  height: 50px ;
  width: 50px ;
  border:none;
  background-color: lightcoral;
}
.fa-bars{
  color:black;
  font-size:20px;
  transform:translateY(-45px);
}
.imgy{
  border-radius: 50px ;
  height: 50px ;
  width: 50px ;
}
.curved
{
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: -20%;
}
.navbar .navbar-nav .nav-item .nav-link { color: black; transform:translateY(-45px);}
.input{
  transform:translateY(-85px);
}
.bold{
  font-weight:500;
  font-size: 20px;
}
.curve
{
  border-bottom-left-radius: 90%;
  border-bottom-right-radius: 90%;
}
.bt {
  width: 100%;
  border:none;
}
.btun{
  border-radius:5px;
  background-color: green;
  color:white;
  font-size: 16px;
}
.text-white{
  text-align: center;
   margin-bottom: 190px;
}
.bgc{
  background-image: linear-gradient(120deg, #f594b7 0%, #ad7ffb 100%);

}
.rt {
  margin-left: 50px;
  transform: translateY(-80px);
}
.bt1:focus {
  outline: none;
}
.bt1 {
  background-color: coral;
  color: white;
  border-radius: 5px;
  border: none;

  width: 35px;
}
.forgot-password{
  font-size: 15px;
  text-align: right;
  font-weight: light;
  margin-top: 5%;
  color: white;

}
.forget-password1 {
  font-size: 15px;
  text-align: center;
  font-weight: light;
  margin-top: 2%;
  color: white;
}
.new-account{
  color: white;
  font-weight: bold;
  text-decoration: underline;
  font-size: 20px;
}
.btn-primary1{
  width:90%;
  padding: 1.5%;
  border-radius: 40px;
  background-color: #428bca;
  color: white;
  border: none;
  margin-left: 4%;
  margin-right: 2%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  
}
.btn-info1{
  width: 90%;
  padding: 1.5%;
  border-radius: 40px;
  background-color: 	#5bc0de;
  color: white;
  margin-top: 5%;
  margin-left: 4%;
  margin-right: 2%;
  border: none;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}
.btn-primary {
  background: #fb6988;
  width: 100%;
  text-align: center;
}
.btn-info {
  width: 100%;
  margin-top: 2%;
  text-align: center;
}
.or {
  text-align: center;
  margin: 5%;
  font-weight: 500;
  color:white;
}
.btn-group {
  margin: 12%;
  margin-top: 8%;
  font-size: 20px;
}
.fa-facebook-f {
  margin-left: 3%;
  color: #3b5998;
  border: 1px solid white;
  background-color: white;
  padding: 1.5%;
  border-radius: 4px;
}
.fa-google {
  margin-left: 6%;
  color: red;
  border: 1px solid white;
  padding: 1.5%;
  background-color: white;
  border-radius: 4px;
}
.profile_form {
  margin-left: 3%;
  margin-top: 5%;
  margin-right: 5%;
  color: pink;
}
.Personal_info {
  font-weight: bolder;
  font-size: 20px;
  margin-left: 7%;

}
.TandC{
  color: white;
  font-size: 15px;
  
}
.table_profile {
  margin-bottom: 15px;
  text-align: center;
}
.table{
  margin-top: 55px; 
  background: linear-gradient(to right, #77bee1, #c168ef);
  border-radius: 13px;
  margin-right: 80px;
}
.Username_profile {
  float: right;
}
.text-left{
  margin-top: 70px;
  margin-left: -30px;
}
.user{
  margin-left: -12px;
}
.tclass{
text-align: center;
justify-content: space-around;
}
.hclass{
text-align: center;
margin: 10px;
}
.plusbutton{
  font-size: 25px;
  border:3px solid #92b2fd;
  padding-top: 0%; 
  height:50px;
  background-image: linear-gradient(to right,#92b2fd, #ad7ffb, #f594b7);
  border-radius:50%;
  width:50px;
  margin-left: 85%;
  margin-bottom: 50px;
  text-align: center;
}
.plusbutton:hover,
.plusbutton:focus{
  box-shadow: 
  inset -3.5em 0 0 0 var(--hover),
  inset 3.5em 0 0 0 var(--hover);    
}
.pclass{
  margin: 30px;
}
.welcomebg{
    
  background-image: linear-gradient(#92b2fd, #ad7ffb, #f594b7);
      
}
.Welcomeimg{
  margin:10%;
  background: none;
  margin-top: 25%;
  width: 80%; 
  height: 350px;  
  opacity: 2;
}
.middle{
  transform:translateY(-85px);
  color:black;
  font-size:20px;
}
.CreateAcc{
  margin-top: 120px;
  margin-bottom: 6%;
  color: white;
  text-align: center;
}
.create_new{
  color: white;
}
.form-group {
  color: #ffffff;
}
.checkbox{
  color:rgb(54, 54, 236);
  font-weight:bold;
}
.form-check-input{
  width: 15px;
  height: 15px;
  box-shadow: 0px 5px 10px rgba(33, 33, 33, .25), inset 0 5px 10px rgba(33, 33, 33, .25)
  ;border:none;
  
}
/* -------------------------------------------- SIDEBAR -------------------------------------- */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /* background:linear-gradient(#FF5F6D,#FFC371); */
  background-image: linear-gradient(#92b2fd, #ad7ffb, #f594b7);
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
 
}
.and{
  color: white;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  font-size: 20px;
  color:white;
  display: block;
  transition: 0.1s;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.sidenav a:focus{
  text-decoration: none;
}
.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.fa-home{
  font-size:20px;
}
.fa-user{
  font-size:20px;
}
.fa-heart{
  font-size:20px;
}
.fa-phone-alt{
  font-size:20px;
}
.fa-cog{
  font-size:20px;
}
.fa-info{
  font-size:20px;
}

.highlight{
  text-align: center;
  transform:translateY(80px);
}
.title1{
  font-weight: bold;
  font-size: 30px;
  margin-left: 25%;
  margin-top: -5%;
}
.para1{
  font-size: 16px;
  color: rgba(8, 0, 0, 0.726);
  margin-left: 15%;
  margin-right: 10%;
  margin-top: 10%;
}
.Welcomebtn{
  margin-top: 10%;
  margin-bottom: 13%;
  font-weight: bold;
  width: 100%;
  font-size: 22px;
  color:white ;
  margin-left:22% ;
  margin-right:20% ;
  background: linear-gradient(#92b2fd, #ad7ffb); 
  border-radius:15px ;
  border: none;
}




 /* --------------------------------------------------------- Map Styling ---------------------------------------- */




/*-------------------------------------------------------------- END --------------------------------------------------*/